In [47]:
import pandas as pd
pd.read_csv('ACME-HappinessSurvey2020.csv')
data_frame.shape

(126, 7)

In [48]:
data_frame.describe()

,Y,X1,X2,X3,X4,X5,X6
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.547619,4.333333,2.531746,3.309524,3.746032,3.650794,4.253968
std,0.499714,0.800000,1.114892,1.023440,0.875776,1.147641,0.809311
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,4.000000,2.000000,3.000000,3.000000,3.000000,4.000000
50%,1.000000,5.000000,3.000000,3.000000,4.000000,4.000000,4.000000
75%,1.000000,5.000000,3.000000,4.000000,4.000000,4.000000,5.000000
max,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [65]:
happy = data_frame[data_frame["Y"]==1]
happy.describe()

,Y,X1,X2,X3,X4,X5,X6,sum
count,69.0,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000
mean,1.0,4.536232,2.507246,3.449275,3.797101,3.884058,4.376812,3.857971
std,0.0,0.698311,1.106441,1.022342,0.900649,1.064621,0.768908,0.652294
min,1.0,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.400000
25%,1.0,4.000000,2.000000,3.000000,3.000000,3.000000,4.000000,3.350000
50%,1.0,5.000000,2.000000,3.000000,4.000000,4.000000,5.000000,3.950000
75%,1.0,5.000000,3.000000,4.000000,4.000000,5.000000,5.000000,4.300000
max,1.0,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [64]:
unhappy = data_frame[data_frame["Y"]==0]
unhappy.describe()

,Y,X1,X2,X3,X4,X5,X6,sum
count,57.0,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,0.0,4.087719,2.561404,3.140351,3.684211,3.368421,4.105263,3.507018
std,0.0,0.851064,1.134170,1.007802,0.848484,1.189712,0.838455,0.689555
min,0.0,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.850000
25%,0.0,4.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.150000
50%,0.0,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.550000
75%,0.0,5.000000,3.000000,4.000000,4.000000,4.000000,5.000000,3.900000
max,0.0,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.850000

In [49]:
df1 = pd.DataFrame(data_frame, columns = ['Y'])
df1

     Y
0    0
1    0
2    1
3    0
4    0
..  ..
121  1
122  1
123  1
124  0
125  0

[126 rows x 1 columns]

In [56]:
data_frame['sum'] = data_frame['X1']*0.05 + data_frame['X2']*0.05 + data_frame['X3']*0.25 + data_frame['X4']*0.05 + data_frame['X5']*0.35 + data_frame['X6']*0.25
print(data_frame)

     Y  X1  X2  X3  X4  X5  X6   sum
0    0   3   3   3   4   2   4  2.95
1    0   3   2   3   5   4   3  3.40
2    1   5   3   3   3   3   5  3.60
3    0   5   4   3   3   3   5  3.65
4    0   5   4   3   3   3   5  3.65
..  ..  ..  ..  ..  ..  ..  ..   ...
121  1   5   2   3   4   4   3  3.45
122  1   5   2   3   4   2   5  3.25
123  1   5   3   3   4   4   5  4.00
124  0   4   3   3   4   4   5  3.95
125  0   5   3   2   5   5   5  4.15

[126 rows x 8 columns]

In [66]:
print(happy)

     Y  X1  X2  X3  X4  X5  X6   sum
2    1   5   3   3   3   3   5  3.60
5    1   5   5   3   5   5   5  4.50
7    1   5   4   4   4   4   5  4.30
12   1   5   2   4   5   5   5  4.60
15   1   3   2   4   3   4   4  3.80
..  ..  ..  ..  ..  ..  ..  ..   ...
118  1   4   3   3   4   4   4  3.70
119  1   5   5   1   1   5   1  2.80
121  1   5   2   3   4   4   3  3.45
122  1   5   2   3   4   2   5  3.25
123  1   5   3   3   4   4   5  4.00

[69 rows x 8 columns]

In [178]:
happy1 = pd.DataFrame(happy, columns = ['X1'])
happy2 = pd.DataFrame(happy, columns = ['X2'])
happy3 = pd.DataFrame(happy, columns = ['X3'])
happy4 = pd.DataFrame(happy, columns = ['X4'])
happy5 = pd.DataFrame(happy, columns = ['X5'])
happy6 = pd.DataFrame(happy, columns = ['X6'])

In [179]:
sa_happy1 = happy[happy["X1"]>=4]
m_happy1 = happy[happy["X1"]==3]
unsa_happy1 = happy[happy["X1"]<3]
number_of_satisfiedhappy1 = sa_happy1.shape[0]
number_of_moderatehappy1 = m_happy1.shape[0]
number_of_unsatisfiedhappy1 = unsa_happy1.shape[0]

In [180]:
sa_happy2 = happy[happy["X2"]>=4]
m_happy2 = happy[happy["X2"]==3]
unsa_happy2 = happy[happy["X2"]<3]
number_of_satisfiedhappy2 = sa_happy2.shape[0]
number_of_moderatehappy2 = m_happy2.shape[0]
number_of_unsatisfiedhappy2 = unsa_happy2.shape[0]

In [181]:
sa_happy3 = happy[happy["X3"]>=4]
m_happy3 = happy[happy["X3"]==3]
unsa_happy3 = happy[happy["X3"]<3]
number_of_satisfiedhappy3 = sa_happy3.shape[0]
number_of_moderatehappy3 = m_happy3.shape[0]
number_of_unsatisfiedhappy3 = unsa_happy3.shape[0]

In [182]:
sa_happy4 = happy[happy["X4"]>=4]
m_happy4 = happy[happy["X4"]==3]
unsa_happy4 = happy[happy["X4"]<3]
number_of_satisfiedhappy4 = sa_happy4.shape[0]
number_of_moderatehappy4 = m_happy4.shape[0]
number_of_unsatisfiedhappy4 = unsa_happy4.shape[0]

In [183]:
sa_happy5 = happy[happy["X5"]>=4]
m_happy5 = happy[happy["X5"]==3]
unsa_happy5 = happy[happy["X5"]<3]
number_of_satisfiedhappy5 = sa_happy5.shape[0]
number_of_moderatehappy5 = m_happy5.shape[0]
number_of_unsatisfiedhappy5 = unsa_happy5.shape[0]

In [206]:
sa_happy6 = happy[happy["X6"]>=4]
m_happy6 = happy[happy["X6"]==3]
unsa_happy6 = happy[happy["X6"]<3]
number_of_satisfiedhappy6 = sa_happy6.shape[0]
number_of_moderatehappy6 = m_happy6.shape[0]
number_of_unsatisfiedhappy6 = unsa_happy6.shape[0]

In [185]:
print(unhappy)

     Y  X1  X2  X3  X4  X5  X6   sum
0    0   3   3   3   4   2   4  2.95
1    0   3   2   3   5   4   3  3.40
3    0   5   4   3   3   3   5  3.65
4    0   5   4   3   3   3   5  3.65
6    0   3   1   2   2   1   3  1.90
8    0   4   1   4   4   4   4  3.85
9    0   4   4   4   2   5   5  4.50
10   0   3   2   3   3   2   3  2.60
11   0   4   4   3   4   4   4  3.75
13   0   4   2   4   5   4   3  3.70
14   0   4   1   3   3   4   3  3.30
16   0   5   3   4   5   4   5  4.30
18   0   5   1   2   4   4   5  3.65
19   0   4   2   4   4   4   4  3.90
21   0   4   3   5   5   5   4  4.60
22   0   4   3   5   5   5   4  4.60
25   0   3   4   3   3   2   3  2.70
30   0   5   3   3   3   5   3  3.80
31   0   4   1   3   4   4   5  3.85
35   0   4   2   3   3   4   4  3.60
40   0   5   2   3   3   3   3  3.05
42   0   5   2   3   3   4   5  3.90
43   0   4   3   3   4   2   4  3.00
47   0   1   1   1   3   1   4  1.85
56   0   5   1   1   5   3   5  3.10
57   0   4   4   4   4   3   4  3.65
60   0   4   3   3   3   3   5  3.55
63   0   5   5   5   2   5   5  4.85
66   0   3   3   3   5   4   3  3.45
67   0   4   1   1   3   4   4  3.05
71   0   4   5   5   5   1   3  3.05
73   0   5   2   3   3   2   5  3.20
75   0   3   2   3   3   4   4  3.55
76   0   4   3   2   3   2   4  2.70
78   0   5   3   3   3   2   5  3.25
81   0   3   3   3   3   3   4  3.25
84   0   4   3   4   4   2   4  3.25
87   0   4   1   3   4   4   3  3.35
88   0   5   4   2   4   3   5  3.45
89   0   3   3   1   3   2   3  2.15
90   0   3   4   5   4   5   4  4.55
94   0   3   1   3   2   1   2  1.90
96   0   4   4   3   4   3   3  3.15
99   0   3   3   2   4   4   4  3.40
102  0   5   2   3   3   3   5  3.55
104  0   4   1   3   5   3   5  3.55
107  0   4   2   4   4   4   4  3.90
108  0   5   2   4   4   5   5  4.55
110  0   5   3   3   4   4   5  4.00
111  0   5   3   3   4   4   4  3.75
112  0   4   1   3   3   3   4  3.20
113  0   5   1   4   4   4   5  4.15
114  0   5   2   2   4   4   5  3.70
115  0   5   3   5   4   5   5  4.85
120  0   4   4   4   4   1   3  2.70
124  0   4   3   3   4   4   5  3.95
125  0   5   3   2   5   5   5  4.15

In [186]:
unhappy1 = pd.DataFrame(happy, columns = ['X1'])
unhappy2 = pd.DataFrame(happy, columns = ['X2'])
unhappy3 = pd.DataFrame(happy, columns = ['X3'])
unhappy4 = pd.DataFrame(happy, columns = ['X4'])
unhappy5 = pd.DataFrame(happy, columns = ['X5'])
unhappy6 = pd.DataFrame(happy, columns = ['X6'])

In [187]:
sa_unhappy1 = unhappy[unhappy["X1"]>=4]
m_unhappy1 = unhappy[unhappy["X1"]==3]
unsa_unhappy1 = unhappy[unhappy["X1"]<3]
number_of_satisfiedunhappy1 = sa_unhappy1.shape[0]
number_of_moderateunhappy1 = m_unhappy1.shape[0]
number_of_unsatisfiedunhappy1 = unsa_unhappy1.shape[0]

In [188]:
sa_unhappy2 = unhappy[unhappy["X2"]>=4]
m_unhappy2 = unhappy[unhappy["X2"]==3]
unsa_unhappy2 = unhappy[unhappy["X2"]<3]
number_of_satisfiedunhappy2 = sa_unhappy2.shape[0]
number_of_moderateunhappy2 = m_unhappy2.shape[0]
number_of_unsatisfiedunhappy2 = unsa_unhappy2.shape[0]

In [189]:
sa_unhappy3 = unhappy[unhappy["X3"]>=4]
m_unhappy3 = unhappy[unhappy["X3"]==3]
unsa_unhappy3 = unhappy[unhappy["X3"]<3]
number_of_satisfiedunhappy3 = sa_unhappy3.shape[0]
number_of_moderateunhappy3 = m_unhappy3.shape[0]
number_of_unsatisfiedunhappy3 = unsa_unhappy3.shape[0]

In [190]:
sa_unhappy4 = unhappy[unhappy["X4"]>=4]
m_unhappy4 = unhappy[unhappy["X4"]==3]
unsa_unhappy4 = unhappy[unhappy["X4"]<3]
number_of_satisfiedunhappy4 = sa_unhappy4.shape[0]
number_of_moderateunhappy4 = m_unhappy4.shape[0]
number_of_unsatisfiedunhappy4 = unsa_unhappy4.shape[0]

In [191]:
sa_unhappy5 = unhappy[unhappy["X5"]>=4]
m_unhappy5 = unhappy[unhappy["X5"]==3]
unsa_unhappy5 = unhappy[unhappy["X5"]<3]
number_of_satisfiedunhappy5 = sa_unhappy5.shape[0]
number_of_moderateunhappy5 = m_unhappy5.shape[0]
number_of_unsatisfiedunhappy5 = unsa_unhappy5.shape[0]

In [192]:
sa_unhappy6 = unhappy[unhappy["X6"]>=4]
m_unhappy6 = unhappy[unhappy["X6"]==3]
unsa_unhappy6 = unhappy[unhappy["X6"]<3]
number_of_satisfiedunhappy6 = sa_unhappy6.shape[0]
number_of_moderateunhappy6 = m_unhappy6.shape[0]
number_of_unsatisfiedunhappy6 = unsa_unhappy6.shape[0]

In [193]:
number_of_satisfiedunhappy1

44

In [194]:
number_of_happy = happy.shape[0]
number_of_unhappy = unhappy.shape[0]

In [207]:
percentage_happy1 = [number_of_satisfiedhappy1 * 100 / number_of_happy,number_of_moderatehappy1 * 100 / number_of_happy,number_of_unsatisfiedhappy1 * 100 / number_of_happy]
percentage_happy2 = [number_of_satisfiedhappy2 * 100 / number_of_happy,number_of_moderatehappy2 * 100 / number_of_happy,number_of_unsatisfiedhappy2 * 100 / number_of_happy]
percentage_happy3 = [number_of_satisfiedhappy3 * 100 / number_of_happy,number_of_moderatehappy3 * 100 / number_of_happy,number_of_unsatisfiedhappy3 * 100 / number_of_happy]
percentage_happy4 = [number_of_satisfiedhappy4 * 100 / number_of_happy,number_of_moderatehappy4 * 100 / number_of_happy,number_of_unsatisfiedhappy4 * 100 / number_of_happy]
percentage_happy5 = [number_of_satisfiedhappy5 * 100 / number_of_happy,number_of_moderatehappy5 * 100 / number_of_happy,number_of_unsatisfiedhappy5 * 100 / number_of_happy]
percentage_happy6 = [number_of_satisfiedhappy6 * 100 / number_of_happy,number_of_moderatehappy6 * 100 / number_of_happy,number_of_unsatisfiedhappy6 * 100 / number_of_happy]

In [219]:
percentage_unhappy1 = [number_of_satisfiedunhappy1 * 100 / number_of_unhappy,number_of_moderateunhappy1 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy1 * 100 / number_of_unhappy]
percentage_unhappy2 = [number_of_satisfiedunhappy2 * 100 / number_of_unhappy,number_of_moderateunhappy2 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy2 * 100 / number_of_unhappy]
percentage_unhappy3 = [number_of_satisfiedunhappy3 * 100 / number_of_unhappy,number_of_moderateunhappy3 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy3 * 100 / number_of_unhappy]
percentage_unhappy4 = [number_of_satisfiedunhappy4 * 100 / number_of_unhappy,number_of_moderateunhappy4 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy4 * 100 / number_of_unhappy]
percentage_unhappy5 = [number_of_satisfiedunhappy5 * 100 / number_of_unhappy,number_of_moderateunhappy5 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy5 * 100 / number_of_unhappy]
percentage_unhappy6 = [number_of_satisfiedunhappy6 * 100 / number_of_unhappy,number_of_moderateunhappy6 * 100 / number_of_unhappy,number_of_unsatisfiedunhappy6 * 100 / number_of_unhappy]

In [220]:
print(percentage_unhappy6)

[73.6842105263158, 24.56140350877193, 1.7543859649122806]